# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

*.pyc

/data/*
!tests/data/*
*.xml
*/*.xml
*.fig
tINIT_test.lp
#Pycharm

*.iml
.idea/*

/config/server_connection.json


